.Image {
    cursor: pointer;
    max-width: 120px;
    margin-top: 20px;
    height: 80%;
    width: 50%;
}    

.TimeLineInstrument {
    display: flex;
    align-items: center;
    justify-content: center;
}