.TimeLinePanel {
    max-width: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #262D33;
    border-top: 0px;
    height: 30%;
}