.Image {
    cursor: pointer;
    max-width: 120px;
    margin-top: 20px;
    height: 50%;
}

.Input {
    cursor: pointer;
    max-width: 120px;
    margin-top: 20px;
    height: 50%;
    background: url("../../assets/images/import.svg") no-repeat;
}

.Instrument {
    height: 20%;
}